		<li class='border-option'>
			<h3>Bordes</h3>
			<div class='wyp-t-cont'>

				<div id='border-type-group' class='op-g ra-o' data-css='border-type'><div class='op-c'><span class='op-l'><span class='di-btn' title=''>Tipo de Borde</span><i class='mo-i'></i>  </span><div class='ra-gr-5 ra-c' id='wyp-border-type'><div class="ra"><input type="radio" name="border-type" value="all"><label id="border-type-all">todos</label></div><div class="ra"><input type="radio" name="border-type" value="top"><label id="border-type-top">superior</label></div><div class="ra"><input type="radio" name="border-type" value="right"><label id="border-type-right">derecho</label></div><div class="ra"><input type="radio" name="border-type" value="bottom"><label id="border-type-bottom">inferior</label></div><div class="ra"><input type="radio" name="border-type" value="left"><label id="border-type-left">izquierdo</label></div></div></div></div>

				<div class='wyp-border-all-section'>

					<div class='option-group-class'>
					<div id='border-color-group' class='op-g co-o' data-css='border-color'><div class='op-c'><span class='op-l'><span class='di-btn' title='Sets the color of an element&#39;s four borders.'>Color</span><i class='mo-i'></i> </span><div class='co-in-bo'><input id='wyp-border-color' type='text' maxlength='22' size='22' class='co-p' value='' /><span class='wyp-color-background'><span class='co-sw-co'></span></span></div></div></div>

					<div id='border-style-group' class='op-g ra-o' data-css='border-style'><div class='op-c'><span class='op-l'><span class='di-btn' title='Establece el estilo de los cuatro bordes de un elemento.'>Estilo</span><i class='mo-i'></i>  </span><div class='ra-gr-4 ra-c' id='wyp-border-style'><div class="ra"><input type="radio" name="border-style" value="none"><label id="border-style-none"><span class="yicon icon-no-alt"></span></label></div><div class="ra"><input type="radio" name="border-style" value="solid"><label id="border-style-solid"></label></div><div class="ra"><input type="radio" name="border-style" value="dotted"><label id="border-style-dotted"></label></div><div class="ra"><input type="radio" name="border-style" value="dashed"><label id="border-style-dashed"></label></div></div></div></div>
					</div>

					<div id='border-width-group' class='op-g sl-o' data-css='border-width' data-decimals='1' data-px='0,20' data-pc='0,100' data-em='0,3'><div class='op-c'><span class='op-l'><span class='di-btn' title='Establece el ancho de los cuatro bordes de un elemento.'>Ancho</span><i class='mo-i'></i></span><div id='wyp-border-width' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='border-width-value' class='css-va' /><input type='text' id='border-width-after' class='css-un' /></div></div><div class='un-s'></div></div>

				</div>

				<div class='wyp-border-top-section'>

					<div class='option-group-class'>
					<div id='border-top-color-group' class='op-g co-o' data-css='border-top-color'><div class='op-c'><span class='op-l'><span class='di-btn' title='Sets the color of an element&#39;s top border.'>Color</span><i class='mo-i'></i> </span><div class='co-in-bo'><input id='wyp-border-top-color' type='text' maxlength='22' size='22' class='co-p' value='' /><span class='wyp-color-background'><span class='co-sw-co'></span></span></div></div></div>

					<div id='border-top-style-group' class='op-g ra-o' data-css='border-top-style'><div class='op-c'><span class='op-l'><span class='di-btn' title='Sets the style of an element&#39;s top border.'>Style</span><i class='mo-i'></i>  </span><div class='ra-gr-4 ra-c' id='wyp-border-top-style'><div class="ra"><input type="radio" name="border-top-style" value="none"><label id="border-top-style-none"><span class="yicon icon-no-alt"></span></label></div><div class="ra"><input type="radio" name="border-top-style" value="solid"><label id="border-top-style-solid"></label></div><div class="ra"><input type="radio" name="border-top-style" value="dotted"><label id="border-top-style-dotted"></label></div><div class="ra"><input type="radio" name="border-top-style" value="dashed"><label id="border-top-style-dashed"></label></div></div></div></div>
					</div>

					<div id='border-top-width-group' class='op-g sl-o' data-css='border-top-width' data-decimals='1' data-px='0,20' data-pc='0,100' data-em='0,3'><div class='op-c'><span class='op-l'><span class='di-btn' title='Sets the width of an element&#39;s top border.'>Width</span><i class='mo-i'></i></span><div id='wyp-border-top-width' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='border-top-width-value' class='css-va' /><input type='text' id='border-top-width-after' class='css-un' /></div></div><div class='un-s'></div></div>

				</div>

				<div class='wyp-border-right-section'>

					<div class='option-group-class'>
					<div id='border-right-color-group' class='op-g co-o' data-css='border-right-color'><div class='op-c'><span class='op-l'><span class='di-btn' title='Sets the color of an element&#39;s right border.'>Color</span><i class='mo-i'></i> </span><div class='co-in-bo'><input id='wyp-border-right-color' type='text' maxlength='22' size='22' class='co-p' value='' /><span class='wyp-color-background'><span class='co-sw-co'></span></span></div></div></div>

					<div id='border-right-style-group' class='op-g ra-o' data-css='border-right-style'><div class='op-c'><span class='op-l'><span class='di-btn' title='Sets the style of an element&#39;s right border.'>Style</span><i class='mo-i'></i>  </span><div class='ra-gr-4 ra-c' id='wyp-border-right-style'><div class="ra"><input type="radio" name="border-right-style" value="none"><label id="border-right-style-none"><span class="yicon icon-no-alt"></span></label></div><div class="ra"><input type="radio" name="border-right-style" value="solid"><label id="border-right-style-solid"></label></div><div class="ra"><input type="radio" name="border-right-style" value="dotted"><label id="border-right-style-dotted"></label></div><div class="ra"><input type="radio" name="border-right-style" value="dashed"><label id="border-right-style-dashed"></label></div></div></div></div>
					</div>

					<div id='border-right-width-group' class='op-g sl-o' data-css='border-right-width' data-decimals='1' data-px='0,20' data-pc='0,100' data-em='0,3'><div class='op-c'><span class='op-l'><span class='di-btn' title='Sets the width of an element&#39;s right border.'>Width</span><i class='mo-i'></i></span><div id='wyp-border-right-width' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='border-right-width-value' class='css-va' /><input type='text' id='border-right-width-after' class='css-un' /></div></div><div class='un-s'></div></div>

				</div>


				<div class='wyp-border-bottom-section'>

					<div class='option-group-class'>
					<div id='border-bottom-color-group' class='op-g co-o' data-css='border-bottom-color'><div class='op-c'><span class='op-l'><span class='di-btn' title='Sets the color of an element&#39;s bottom border.'>Color</span><i class='mo-i'></i> </span><div class='co-in-bo'><input id='wyp-border-bottom-color' type='text' maxlength='22' size='22' class='co-p' value='' /><span class='wyp-color-background'><span class='co-sw-co'></span></span></div></div></div>

					<div id='border-bottom-style-group' class='op-g ra-o' data-css='border-bottom-style'><div class='op-c'><span class='op-l'><span class='di-btn' title='Sets the style of an element&#39;s bottom border.'>Style</span><i class='mo-i'></i>  </span><div class='ra-gr-4 ra-c' id='wyp-border-bottom-style'><div class="ra"><input type="radio" name="border-bottom-style" value="none"><label id="border-bottom-style-none"><span class="yicon icon-no-alt"></span></label></div><div class="ra"><input type="radio" name="border-bottom-style" value="solid"><label id="border-bottom-style-solid"></label></div><div class="ra"><input type="radio" name="border-bottom-style" value="dotted"><label id="border-bottom-style-dotted"></label></div><div class="ra"><input type="radio" name="border-bottom-style" value="dashed"><label id="border-bottom-style-dashed"></label></div></div></div></div>
					</div>

					<div id='border-bottom-width-group' class='op-g sl-o' data-css='border-bottom-width' data-decimals='1' data-px='0,20' data-pc='0,100' data-em='0,3'><div class='op-c'><span class='op-l'><span class='di-btn' title='Sets the width of an element&#39;s bottom border.'>Width</span><i class='mo-i'></i></span><div id='wyp-border-bottom-width' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='border-bottom-width-value' class='css-va' /><input type='text' id='border-bottom-width-after' class='css-un' /></div></div><div class='un-s'></div></div>

				</div>


				<div class='wyp-border-left-section'>

					<div class='option-group-class'>
					<div id='border-left-color-group' class='op-g co-o' data-css='border-left-color'><div class='op-c'><span class='op-l'><span class='di-btn' title='Sets the color of an element&#39;s left border.'>Color</span><i class='mo-i'></i> </span><div class='co-in-bo'><input id='wyp-border-left-color' type='text' maxlength='22' size='22' class='co-p' value='' /><span class='wyp-color-background'><span class='co-sw-co'></span></span></div></div></div>

					<div id='border-left-style-group' class='op-g ra-o' data-css='border-left-style'><div class='op-c'><span class='op-l'><span class='di-btn' title='Sets the style of an element&#39;s left border.'>Style</span><i class='mo-i'></i>  </span><div class='ra-gr-4 ra-c' id='wyp-border-left-style'><div class="ra"><input type="radio" name="border-left-style" value="none"><label id="border-left-style-none"><span class="yicon icon-no-alt"></span></label></div><div class="ra"><input type="radio" name="border-left-style" value="solid"><label id="border-left-style-solid"></label></div><div class="ra"><input type="radio" name="border-left-style" value="dotted"><label id="border-left-style-dotted"></label></div><div class="ra"><input type="radio" name="border-left-style" value="dashed"><label id="border-left-style-dashed"></label></div></div></div></div>
					</div>

					<div id='border-left-width-group' class='op-g sl-o' data-css='border-left-width' data-decimals='1' data-px='0,20' data-pc='0,100' data-em='0,3'><div class='op-c'><span class='op-l'><span class='di-btn' title='Sets the width of an element&#39;s left border.'>Width</span><i class='mo-i'></i></span><div id='wyp-border-left-width' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='border-left-width-value' class='css-va' /><input type='text' id='border-left-width-after' class='css-un' /></div></div><div class='un-s'></div></div>

				</div>

			</div>
		</li>
