		<li class='filter-option'>
				<h3>Filtros</h3>
				<div class='wyp-t-cont'>
					
					<div id='filter-type-group' class='op-g ra-o' data-css='filter-type'><div class='op-c'><span class='op-l'><span class='di-btn' title=''>Tipo de Filtro</span><i class='mo-i'></i>  </span><div class='ra-gr-2 ra-c' id='wyp-filter-type'><div class="ra"><input type="radio" name="filter-type" value="color-effects"><label id="filter-type-color-effects">efectos</label></div><div class="ra"><input type="radio" name="filter-type" value="color-adjustment"><label id="filter-type-color-adjustment">ajustes</label></div></div></div></div>


					<div class='wyp-filter-color-adjustment-section'>

						<div id='brightness-filter-group' class='op-g sl-o' data-css='brightness-filter' data-decimals='0.01' data-px='0,10' data-pc='0,10' data-em='0,10'><div class='op-c'><span class='op-l'><span class='di-btn' title='Ajusta el brillo.'>Brillo</span><i class='mo-i'></i></span><div id='wyp-brightness-filter' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='brightness-filter-value' class='css-va' /><input type='text' id='brightness-filter-after' class='css-un' /></div></div><div class='un-s'></div></div>

						<div id='contrast-filter-group' class='op-g sl-o' data-css='contrast-filter' data-decimals='0.01' data-px='0,10' data-pc='0,10' data-em='0,10'><div class='op-c'><span class='op-l'><span class='di-btn' title='Ajusta el contraste.'>Contraste</span><i class='mo-i'></i></span><div id='wyp-contrast-filter' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='contrast-filter-value' class='css-va' /><input type='text' id='contrast-filter-after' class='css-un' /></div></div><div class='un-s'></div></div>

						<div id='hue-rotate-filter-group' class='op-g sl-o' data-css='hue-rotate-filter' data-decimals='1' data-px='0,360' data-pc='0,360' data-em='0,360'><div class='op-c'><span class='op-l'><span class='di-btn' title='Aplica una rotación de tono.'>Rotación de Tono</span><i class='mo-i'></i></span><div id='wyp-hue-rotate-filter' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='hue-rotate-filter-value' class='css-va' /><input type='text' id='hue-rotate-filter-after' class='css-un' /></div></div><div class='un-s'></div></div>

						<div id='saturate-filter-group' class='op-g sl-o' data-css='saturate-filter' data-decimals='0.01' data-px='0,10' data-pc='0,10' data-em='0,10'><div class='op-c'><span class='op-l'><span class='di-btn' title='Ajusta la saturación.'>Saturación</span><i class='mo-i'></i></span><div id='wyp-saturate-filter' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='saturate-filter-value' class='css-va' /><input type='text' id='saturate-filter-after' class='css-un' /></div></div><div class='un-s'></div></div>

					</div>

					<div class='wyp-filter-color-effects-section'>

						<div id='blur-filter-group' class='op-g sl-o' data-css='blur-filter' data-decimals='0.01' data-px='0,10' data-pc='0,10' data-em='0,10'><div class='op-c'><span class='op-l'><span class='di-btn' title='Aplica un desenfoque gaussiano.'>Desenfoque</span><i class='mo-i'></i></span><div id='wyp-blur-filter' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='blur-filter-value' class='css-va' /><input type='text' id='blur-filter-after' class='css-un' /></div></div><div class='un-s'></div></div>

						<div id='grayscale-filter-group' class='op-g sl-o' data-css='grayscale-filter' data-decimals='0.01' data-px='0,1' data-pc='0,1' data-em='0,1'><div class='op-c'><span class='op-l'><span class='di-btn' title='Convierte a escala de grises.'>Escala de Grises</span><i class='mo-i'></i></span><div id='wyp-grayscale-filter' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='grayscale-filter-value' class='css-va' /><input type='text' id='grayscale-filter-after' class='css-un' /></div></div><div class='un-s'></div></div>

						<div id='invert-filter-group' class='op-g sl-o' data-css='invert-filter' data-decimals='0.01' data-px='0,1' data-pc='0,1' data-em='0,1'><div class='op-c'><span class='op-l'><span class='di-btn' title='Invierte los colores.'>Invertir</span><i class='mo-i'></i></span><div id='wyp-invert-filter' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='invert-filter-value' class='css-va' /><input type='text' id='invert-filter-after' class='css-un' /></div></div><div class='un-s'></div></div>

						<div id='sepia-filter-group' class='op-g sl-o' data-css='sepia-filter' data-decimals='0.01' data-px='0,1' data-pc='0,1' data-em='0,1'><div class='op-c'><span class='op-l'><span class='di-btn' title='Convierte a sepia.'>Sepia</span><i class='mo-i'></i></span><div id='wyp-sepia-filter' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='sepia-filter-value' class='css-va' /><input type='text' id='sepia-filter-after' class='css-un' /></div></div><div class='un-s'></div></div>

					</div>

			</div></li>
