		<li class='transform-option'>
				<h3>Transformaciones</h3>
				<div class='wyp-t-cont'>

					<div id='transform-type-group' class='op-g ra-o' data-css='transform-type'><div class='op-c'><span class='op-l'><span class='di-btn' title='Tipo de Transformación'>Tipo de Transformación</span><i class='mo-i'></i>  </span><div class='ra-gr-4 ra-c' id='wyp-transform-type'><div class="ra"><input type="radio" name="transform-type" value="move"><label id="transform-type-move">mover</label></div><div class="ra"><input type="radio" name="transform-type" value="rotate"><label id="transform-type-rotate">rotar</label></div><div class="ra"><input type="radio" name="transform-type" value="skew"><label id="transform-type-skew">inclinar</label></div><div class="ra"><input type="radio" name="transform-type" value="extra"><label id="transform-type-extra">extra</label></div></div></div></div>


					<div class='wyp-transform-move-section'>

						<div id='translate-x-transform-group' class='op-g sl-o' data-css='translate-x-transform' data-decimals='1' data-px='-256,256' data-pc='-256,256' data-em='-256,256'><div class='op-c'><span class='op-l'><span class='di-btn' title='Mover Horizontalmente'>Mover Horizontal</span><i class='mo-i'></i></span><div id='wyp-translate-x-transform' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='translate-x-transform-value' class='css-va' /><input type='text' id='translate-x-transform-after' class='css-un' /></div></div><div class='un-s'></div></div>

						<div id='translate-y-transform-group' class='op-g sl-o' data-css='translate-y-transform' data-decimals='1' data-px='-256,256' data-pc='-256,256' data-em='-256,256'><div class='op-c'><span class='op-l'><span class='di-btn' title='Mover Verticalmente'>Mover Vertical</span><i class='mo-i'></i></span><div id='wyp-translate-y-transform' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='translate-y-transform-value' class='css-va' /><input type='text' id='translate-y-transform-after' class='css-un' /></div></div><div class='un-s'></div></div>

					</div>

					<div class='wyp-transform-rotate-section'>

						<div id='rotatex-transform-group' class='op-g sl-o' data-css='rotatex-transform' data-decimals='1' data-px='-180,180' data-pc='-180,180' data-em='-180,180'><div class='op-c'><span class='op-l'><span class='di-btn' title='Rotar en el eje X'>Rotar X</span><i class='mo-i'></i></span><div id='wyp-rotatex-transform' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='rotatex-transform-value' class='css-va' /><input type='text' id='rotatex-transform-after' class='css-un' /></div></div><div class='un-s'></div></div>

						<div id='rotatey-transform-group' class='op-g sl-o' data-css='rotatey-transform' data-decimals='1' data-px='-180,180' data-pc='-180,180' data-em='-180,180'><div class='op-c'><span class='op-l'><span class='di-btn' title='Rotar en el eje Y'>Rotar Y</span><i class='mo-i'></i></span><div id='wyp-rotatey-transform' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='rotatey-transform-value' class='css-va' /><input type='text' id='rotatey-transform-after' class='css-un' /></div></div><div class='un-s'></div></div>

						<div id='rotatez-transform-group' class='op-g sl-o' data-css='rotatez-transform' data-decimals='1' data-px='-180,180' data-pc='-180,180' data-em='-180,180'><div class='op-c'><span class='op-l'><span class='di-btn' title='Rotar en el eje Z'>Rotar Z</span><i class='mo-i'></i></span><div id='wyp-rotatez-transform' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='rotatez-transform-value' class='css-va' /><input type='text' id='rotatez-transform-after' class='css-un' /></div></div><div class='un-s'></div></div>

					</div>

					<div class='wyp-transform-skew-section'>

						<div id='skew-x-transform-group' class='op-g sl-o' data-css='skew-x-transform' data-decimals='1' data-px='-180,180' data-pc='-180,180' data-em='-180,180'><div class='op-c'><span class='op-l'><span class='di-btn' title='Inclinar en el eje X'>Inclinar X</span><i class='mo-i'></i></span><div id='wyp-skew-x-transform' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='skew-x-transform-value' class='css-va' /><input type='text' id='skew-x-transform-after' class='css-un' /></div></div><div class='un-s'></div></div>

						<div id='skew-y-transform-group' class='op-g sl-o' data-css='skew-y-transform' data-decimals='1' data-px='-180,180' data-pc='-180,180' data-em='-180,180'><div class='op-c'><span class='op-l'><span class='di-btn' title='Inclinar en el eje Y'>Inclinar Y</span><i class='mo-i'></i></span><div id='wyp-skew-y-transform' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='skew-y-transform-value' class='css-va' /><input type='text' id='skew-y-transform-after' class='css-un' /></div></div><div class='un-s'></div></div>

					</div>

					<div class='wyp-transform-extra-section'>

						<div id='scale-transform-group' class='op-g sl-o' data-css='scale-transform' data-decimals='0.01' data-px='0,5' data-pc='0,5' data-em='0,5'><div class='op-c'><span class='op-l'><span class='di-btn' title='Escala el elemento.'>Escala</span><i class='mo-i'></i></span><div id='wyp-scale-transform' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='scale-transform-value' class='css-va' /><input type='text' id='scale-transform-after' class='css-un' /></div></div><div class='un-s'></div></div>

						<div id='perspective-group' class='op-g sl-o' data-css='perspective' data-decimals='1' data-px='0,1000' data-pc='0,100' data-em='0,62'><div class='op-c'><span class='op-l'><span class='di-btn' title='Define la perspectiva para un elemento 3D.'>Perspectiva</span><i class='mo-i'></i></span><div id='wyp-perspective' class='sl-d'><div class='sl-cu'></div></div><div class='wyp-after'><input type='text' id='perspective-value' class='css-va' /><input type='text' id='perspective-after' class='css-un' /></div></div><div class='un-s'></div></div>

					</div>

			</div></li>
