/* Llimphi Editor - Base Styles */

body * {
    outline: 0
}


.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.invisible {
    visibility: hidden
}

.hidden {
    display: none !important
}

body,
html {
    overflow: hidden;
    background: #888;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0
}

#view-no-item,
#vsl-css-vi .tooltip-inner,
.view-information,
body,
button,
html,
input,
select,
textarea {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif
}

#vsl-css-vi,
.ace_editor,
.css-rule-view input.value-input {
    font-family: "Roboto Mono", monospace !important
}

body:not(.yellow-pencil-ready) {
    background-color: #f1f1f1
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

* {
    box-sizing: border-box
}

.hidden {
    display: none !important;
    visibility: hidden !important
}

body,
html {
    overflow: hidden;
    background: #888;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0
}

#view-no-item,
#vsl-css-vi .tooltip-inner,
.view-information,
body,
button,
html,
input,
select,
textarea {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif
}

#vsl-css-vi,
.ace_editor,
.css-rule-view input.value-input {
    font-family: "Roboto Mono", monospace !important
}

body:not(.yellow-pencil-ready) {
    background-color: #f1f1f1
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

* {
    box-sizing: border-box
}

.yellow_pencil_iframe {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-width: 0;
    z-index: 99;
    background: #fff
}

.ed-pnl,
.editor-leftbar {
    display: none !important
}

body.yellow-pencil-ready .ed-pnl,
body.yellow-pencil-ready .editor-leftbar {
    display: block !important
}

.context-menu-root li span::-moz-selection,
.ed-pnl :not(input):not(textarea)::-moz-selection,
.ed-pnl::-moz-selection,
.wyp-selected-tooltip small::-moz-selection,
.wyp-selected-tooltip::-moz-selection {
    background: 0 0 !important;
    color: inherit !important
}

.context-menu-root li span::-moz-selection,
.ed-pnl :not(input):not(textarea)::-moz-selection,
.ed-pnl::-moz-selection,
.wyp-selected-tooltip small::-moz-selection,
.wyp-selected-tooltip::-moz-selection {
    background: 0 0 !important;
    color: inherit !important
}

.context-menu-root li span::selection,
.ed-pnl :not(input):not(textarea)::selection,
.ed-pnl::selection,
.wyp-selected-tooltip small::selection,
.wyp-selected-tooltip::selection {
    background: 0 0 !important;
    color: inherit !important
}

.context-menu-root li span::-moz-selection,
.ed-pnl :not(input):not(textarea)::-moz-selection,
.ed-pnl::-moz-selection,
.wyp-selected-tooltip small::-moz-selection,
.wyp-selected-tooltip::-moz-selection {
    background: 0 0 !important;
    color: inherit !important
}

.wyp-clear {
    clear: both !important
}

input:focus {
    outline: 0 !important
}

