/* Llimphi Editor - Animation Manager and Timeline */

body.wyp-ani-cre .animation-option {
    pointer-events: none
}

body.wyp-ani-cre .mo-i {
    display: none !important
}

.wyp-add-animation-link {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' opacity='.85' viewBox='0 0 506.5 508'%3E%3Cpath d='M326.6 28C243 28 175 78.7 175 141c0 67.4 71.7 210 151.6 210s151.6-142.6 151.6-210c0-62.3-68-113-151.6-113z' fill='%23fff'/%3E%3Cpath d='M381.9 351c4.6 0 8.5 4.573 8.5 9.878v33.11H262.9v-33.11c0-5.4 3.9-9.878 8.5-9.878z' fill='%23cbdbe8'/%3E%3Cpath d='M326.6 322.9c-58.8 0-123.4-127.7-123.4-181.9 0-46 56.5-84.8 123.4-84.8S450 95.1 450 141c0 54.2-64.5 181.9-123.4 181.9z' fill='%2372b7e1'/%3E%3Cpath d='M326.6 0c-99.2 0-179.8 63.4-179.8 141.2 0 47.6 34.1 138.4 87.9 193.1v134.6c0 21.5 16.5 39.1 36.7 39.1h110.5c20.2 0 36.7-17.5 36.7-39.1V334.3c53.8-54.7 87.9-145.5 87.9-193.1C506.4 63.4 425.8 0 326.6 0zm14.1 30.5c33 10.5 58.7 57 58.7 110.8 0 66.7-30.3 172.9-58.7 202.2zm-28.2 0v313c-28.4-29.4-58.7-135.6-58.7-202.2 0-53.9 25.7-100.3 58.7-110.8zM175 141.2c0-43 32.5-80.4 80.1-99.5-18.2 25.5-29.5 60.7-29.5 99.5 0 40 14.8 129.3 43.6 186.5-53.9-43.2-94.2-136-94.2-186.5zm215.3 327.7c0 5.9-3.9 10.8-8.5 10.8H271.4c-4.6 0-8.5-5-8.5-10.8v-36.2h127.4zm0-64.4H262.9v-46.3c19.6 13.3 41 21.3 63.7 21.3s44.1-8 63.7-21.3v46.3zm-6.2-76.7c28.8-57.2 43.6-146.5 43.6-186.5 0-38.8-11.3-74-29.5-99.5 47.6 19.1 80.1 56.5 80.1 99.5-.1 50.4-40.4 143.2-94.2 186.5z' fill='%231d5b96'/%3E%3Cpath d='M381.9 479.6c4.6 0 8.5-9.108 8.5-19.673v-65.94H262.9v65.94c0 10.747 3.9 19.673 8.5 19.673z' fill='%23cbdbe8'/%3E%3Cpath d='M38.8 59.4h77.6a14.1 14.1 0 1 0 0-28.2H38.8c-7.787 0-14.1 6.313-14.1 14.1s6.313 14.1 14.1 14.1zm122.1 232.9H83.3c-7.787 0-14.1 6.313-14.1 14.1s6.313 14.1 14.1 14.1h77.6a14.1 14.1 0 1 0 0-28.2zm-55.1-124.7c.004-3.74-1.48-7.33-4.125-9.975A14.08 14.08 0 0 0 91.7 153.5H14.1c-7.787 0-14.1 6.313-14.1 14.1s6.313 14.1 14.1 14.1h77.6c3.74.004 7.33-1.48 9.975-4.125a14.08 14.08 0 0 0 4.125-9.975z' fill='%231d5b96'/%3E%3C/svg%3E");
    background-size: 36px !important;
    background-color: #cbdbe8 !important;
    border: 1px solid #a1b0d5 !important;
    background-position: 12px center !important;
    background-repeat: no-repeat !important;
    text-align: center !important
}

body.wyp-ani-cre .wyp-add-animation-link {
    display: none
}

.yellow-pencil-ready .anim-bar {
    display: block
}

body.wyp-ani-cre .anim-bar {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1)
}

body.wyp-ani-cre #background-attachment-group,
body.wyp-ani-cre #background-image-group,
body.wyp-ani-cre #background-repeat-group,
body.wyp-ani-cre #clear-group,
body.wyp-ani-cre #column-count-group,
body.wyp-ani-cre #cursor-group,
body.wyp-ani-cre #direction-group,
body.wyp-ani-cre #display-group,
body.wyp-ani-cre #float-group,
body.wyp-ani-cre #font-family-group,
body.wyp-ani-cre #font-style-group,
body.wyp-ani-cre #overflow-group,
body.wyp-ani-cre #pointer-events-group,
body.wyp-ani-cre #position-group,
body.wyp-ani-cre #text-align-group,
body.wyp-ani-cre #text-decoration-group,
body.wyp-ani-cre #text-transform-group,
body.wyp-ani-cre #white-space-group,
body.wyp-ani-cre .flex-child-section,
body.wyp-ani-cre .flex-container-section,
body.wyp-ani-cre .grid-section {
    opacity: .7 !important;
    cursor: default !important;
    pointer-events: none !important
}

.wyp-anim-scroll-shadow {
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none
}

.wyp-animate-manager.view-scrolled .wyp-anim-scroll-shadow {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    width: 30px;
    box-shadow: 14px 0 20px 0 rgb(0, 0, 0, .3);
    opacity: 1
}

body.wyp-clean-look:not(.wyp-cln-lo-manual) .wyp-panel-show {
    display: none !important
}

body.vsl-css-vi-active .wyp-panel-show {
    display: none !important
}

body.wyp-res-mod .wyp-panel-show {
    right: 0 !important
}

.wyp-anim-recording {
    display: none
}

body.wyp-ani-cre .wyp-anim-recording {
    display: inline-block;
    background: #f44336;
    color: #fff;
    padding: 1px 4px;
    font-size: 11px;
    font-weight: 500;
    pointer-events: none;
    position: absolute;
    top: auto !important;
    left: auto !important;
    margin-top: -1px;
    margin-left: 4px
}

body.wyp-ani-cre .animation-option {
    background: #f5e8e8
}

.anim-bar {
    display: none;
    position: fixed;
    bottom: 7%;
    z-index: 100046;
    width: auto;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    transition: opacity .2s, -webkit-transform .2s;
    transition: opacity .2s, transform .2s;
    transition: opacity .2s, transform .2s, -webkit-transform .2s;
    transition-delay: 0.1s;
    background-color: #474747;
    border-radius: 6px;
    box-shadow: 0 -10px 20px 0 rgb(0, 0, 0, .2) !important;
    width: auto !important;
    height: auto !important;
    color: #e1e1e1
}

.anim-bar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 14px;
    background: #404040;
    border-radius: 6px 6px 0 0;
    font-size: 14px;
    cursor: move
}

.anim-bar .anim-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse
}

.anim-bar .scenes {
    display: flex;
    padding: 14px
}

.anim-bar .scenes .scene {
    background: #5b5b5b;
    width: 110px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100046;
    margin-right: 10px;
    position: relative;
    line-height: 11px;
    text-align: center;
    font-size: 13px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 2px solid transparent
}

.anim-bar .scenes .scene input {
    display: inline-block;
    width: 38px;
    text-align: center;
    font-size: 11px;
    margin-top: 12px;
    background-color: rgba(255, 255, 255, .1);
    border-width: 0;
    color: #a6a6a6;
    border-radius: 2px
}

.anim-bar .scenes .scene.scene-active input {
    color: #f1f1f1
}

.anim-bar .scene-add {
    display: flex;
    justify-content: center;
    align-items: center
}

.anim-bar .scene-add:hover {
    color: #77c0ff
}

.anim-bar .icon-plus {
    font-size: 22px;
    width: 22px;
    height: 22px
}

.scenes .scene-active {
    border-color: #4285f4 !important
}

.scenes .scene .icon-trash {
    position: absolute;
    right: 2px;
    top: 2px;
    opacity: 0;
    color: #ee4c4c
}

.scene-1 .icon-trash,
.scene-2 .icon-trash,
.scene:not(.scene-let-delete) .icon-trash {
    display: none !important
}

.scenes .scene.scene-let-delete:hover .icon-trash {
    opacity: .8
}

.scenes .scene.scene-let-delete:hover .icon-trash:hover {
    opacity: 1
}

.scenes .scene .scene-info {
    color: #4ca3ee;
    display: none !important;
    font-size: 18px;
    position: absolute;
    left: 1px;
    bottom: 2px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.scenes .scene-active .scene-info {
    display: inline-block !important
}

.scenes .scene p {
    margin: 0
}

.scenes .scene-active p {
    color: #77c0ff
}

.scenes .scene p span {
    display: block
}

.anim-bar-title .wyp-anim-btn span {
    font-size: 24px;
    width: 24px;
    height: 24px;
    opacity: .9;
    cursor: pointer
}

.anim-bar-title .wyp-anim-btn span:hover {
    color: #4ca3ee
}

.anim-bar-title .wyp-anim-btn span.yicon.icon-flag {
    font-size: 19px;
    height: 19px;
    width: 19px
}

.anim-bar-title .wyp-anim-btn span.yicon.icon-controls-pause,
.anim-bar-title .wyp-anim-btn span.yicon.icon-controls-play {
    margin-left: 2px;
    margin-right: 4px
}

.anim-bar-title .wyp-anim-btn span.yicon.icon-no-alt {
    font-size: 27px;
    width: 27px;
    height: 27px
}

.anim-bar-title .wyp-anim-btn span.yicon.icon-no-alt:hover {
    color: #da4747
}

.anim-bar-title .wyp-anim-btn span.yicon.icon-controls-play:hover {
    color: #4ca3ee
}

.wyp-animate-test-playing .scenes {
    pointer-events: none !important;
    cursor: wait !important
}

.scenes .scene-6,
.scenes .scene-add {
    margin-right: 0 !important
}

body.wyp-ani-cre #ac-pl-background-position .ui-autocomplete {
    max-height: 130px !important
}

.ui-helper-hidden-accessible {

.wyp-animate-manager {
    position: fixed;
    top: auto !important;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #111;
    z-index: 9999999;
    font-size: 0;
    background-color: #404040;
    box-shadow: 0 -10px 20px 0 rgb(0, 0, 0, .2);
    display: none;
    color: #aeaeae
}

body .hidden-option {
    pointer-events: none !important;
    opacity: .7 !important
}

body .hidden-option .wyp-after input {
    color: transparent !important
}

.wyp-anim-left-part-column {
    width: 285px;
    float: left;
    z-index: 9999999;
    position: relative;
    left: 0;
    background-color: #4b4b4b
}

.wyp-anim-right-part-column {
    width: calc(100% - 285px);
    float: left;
    position: relative;
    padding-top: 0
}

.wyp-anim-control-left {
    width: 285px;
    float: left;
    padding-top: 25px
}

.wyp-anim-control-right {
    width: calc(100% - 285px);
    float: left;
    position: relative;
    padding-top: 25px
}

.wyp-animate-manager-inner {
    overflow-y: scroll;
    overflow-x: scroll
}

.wyp-anim-controls {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .31);
    background: rgba(0, 0, 0, .14)
}

.wyp-anim-control-overflow {
    overflow: hidden
}

.wyp-anim-el-column {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    width: 100%;
    display: inline-block;
    z-index: 2147483647;
    padding: 11px 8px 0 26px;
    border-right: 1px solid rgba(0, 0, 0, .31);
    border-bottom: 1px solid rgba(0, 0, 0, .31);
    height: 63px
}

.wyp-anim-process-bar-area {
    width: 100%;
    display: inline-block;
    background-color: #4b4b4b;
    border-bottom: 1px solid rgba(0, 0, 0, .31);
    height: 63px;
    vertical-align: top;
    padding-left: 5px;
    position: relative
}

.wyp-anim-process-bar {
    background: rgba(0, 0, 0, .43);
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    margin-top: 11px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 99;
    min-width: 20px !important
}

.wyp-anim-process-bar .animation-name {
    color: #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-weight: 500
}

.wyp-anim-process-bar-delay {
    background: #884f4f;
    background-image: url(../../assets/pattern_7.png);
    color: #fff;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    margin-top: 11px;
    text-transform: uppercase;
    text-align: center
}

.wyp-animate-manager .ui-resizable-e {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: e-resize;
    position: absolute
}

.wyp-animate-manager .ui-resizable {
    position: relative
}

.cursor-main-btn {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3.001' height='3' viewBox='0 0 3.001 3'%3E%3Cpath d='M-447-132v-1h1v-1h1v-1h1v3Z' transform='translate(447 135)' fill='%234d4d4d'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 90% 90%
}

.wyp-anim-metric {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    display: block;
    padding-top: 7px;
    padding-left: 3px;
    width: 6500px
}

.second {
    width: 100px;
    height: 7px;
    border-right: 1px solid rgba(255, 255, 255, .3);
    position: relative;
    top: 11px;
    display: inline-block
}

.second i {
    width: 10px;
    height: 3px;
    border-right: 1px solid rgba(255, 255, 255, .2);
    display: inline-block
}

.second b {
    position: absolute;
    right: -11px;
    top: -14px;
    width: 20px;
    font-size: 11px;
    text-align: center;
    font-weight: 500
}

.wyp-delay-zero {
    z-index: 9999 !important;
    position: absolute !important
}

.wyp-anim-el-column label {
    padding: 1px 4px 1px;
    border-radius: 5px;
    border: 1px dashed rgba(255, 255, 255, .38);
    opacity: .8;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 11px;
    margin-left: 5px
}

.wyp-device-responsive {
    font-weight: 500;
    display: block;
    font-size: 11px;
    margin-top: 4px
}

.wyp-type-anim-text {
    position: absolute;
    left: calc(100vw - 90px);
    top: 10px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    width: 60px;
    text-align: right
}

.wyp-anim-manager-control {
    position: absolute;
    width: 280px;
    left: 5px;
    height: 25px;
    top: 0;
    z-index: 999999;
    border-right: 1px solid #464646;
    padding-left: 16px
}

.wyp-anim-control-btn {
    cursor: pointer;
    margin-right: 8px;
    position: relative;
    top: 1px
}

.wyp-anim-control-play:hover {
    color: #4ca3ee
}

.wyp-anim-control-close:hover,
.wyp-anim-control-pause:hover {
    color: #da4747
}

.wyp-anim-control-btn span {
    font-size: 24px
}

.wyp-anim-control-close span {
    font-size: 26px;
    top: -1px;
    position: relative
}

.wyp-animate-manager-playing .wyp-anim-control-play {
    display: none
}

body:not(.wyp-animate-manager-playing) .wyp-anim-control-pause {
    display: none
}

.wyp-anim-playing-border {
    height: 100%;
    background-color: #4ca3ee;
    width: 2px;
    position: absolute;
    left: -1px;
    top: 0;
    z-index: 99999999
}

body:not(.wyp-animate-manager-playing) .wyp-anim-playing-border {
    display: none
}

.wyp-anim-control-right .wyp-anim-playing-border {
    margin-left: -2px
}

.wyp-anim-playing-over {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 99999999;
    display: none;
    cursor: wait
}

.wyp-animate-manager-playing .wyp-anim-playing-over {
    display: block
}

.wyp-anim-playing-border.active {
    -webkit-animation-name: playingBorder;
    animation-name: playingBorder;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

.wyp-anim-process-inner {
    display: inline-block
}

.wyp-anim-add {
    position: relative;
    display: inline-block;
    top: 1px;
    right: -12px;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 48 48' version='1.1' viewBox='0 0 48 48' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234CA3EE'%3E%3Cpath d='m24 0c-13.255 0-24 10.746-24 24 0 13.255 10.745 24 24 24s24-10.744 24-24c0-13.254-10.745-24-24-24zm0.029 43.844c-11.023 0-19.959-8.936-19.959-19.958s8.936-19.96 19.959-19.96c11.022 0 19.959 8.936 19.959 19.959s-8.936 19.959-19.959 19.959z'/%3E%3Cpath d='m32.56 21.902h-6.458l8e-3 -6.576c-0.026-0.454-0.221-1.354-1.331-1.356l-1.579-2e-3c-1.181-1e-3 -1.282 1.165-1.288 1.47l-8e-3 6.463h-6.607c-1.22 0-1.323 0.941-1.328 1.21v1.809c6e-3 0.247 0.107 1.178 1.328 1.178h6.602l-8e-3 6.602c-2e-3 1.219 0.939 1.324 1.209 1.33l1.809 2e-3c0.247-6e-3 1.178-0.107 1.18-1.326l8e-3 -6.607h6.581c0.454-0.027 1.354-0.223 1.354-1.333v-1.578c-1e-3 -1.181-1.167-1.28-1.472-1.286z'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-size: 22px
}

.wyp-anim-process-bar .animate-part-icons {
    position: absolute;
    left: 0;
    padding: 4px 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: none;
    top: 20px;
    background: #343434
}

.wyp-anim-process-bar .animate-part-icons span {
    font-size: 14px;
    line-height: 12px
}

.wyp-anim-process-bar-area:hover .animate-part-icons {
    display: block
}

.wyp-anim-process-bar .animate-part-icons.wyp-control-trash {
    left: 0
}

.wyp-anim-has-zero-delay .animate-part-icons.wyp-control-trash {
    left: 10px
}

.wyp-anim-current-duration {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 14px;
    font-weight: 500;
    color: #4ca3ee;
    padding-right: 10px
}

body.wyp-animate-manager-active .ed-pnl {
    display: none !important
}

.wyp-animate-manager-inner {
    height: calc(100% - 26px) !important
}

.wyp-anim-list-menu {
    display: none;
    position: fixed;
    z-index: 2147483647;
    width: auto;
    max-width: 280px;
    min-width: 170px;
    top: 0;
    left: 0;
    margin-top: 34px;
    padding: 4px 0;
    height: auto;
    background-color: #595959;
    font-size: 12px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .08), -2px 2px 10px 0 rgba(0, 0, 0, .23);
    border-radius: 6px;
    overflow: hidden;
    padding-top: 0
}

.wyp-anim-list-menu ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
    max-height: 290px;
    height: 290px;
    overflow-y: scroll
}

.wyp-anim-list-menu li {
    cursor: pointer;
    padding: 6px 12px;
    color: #dedede;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.wyp-anim-list-menu li:hover {
    background-color: rgba(0, 0, 0, .1)
}

.wyp-anim-list-menu li.anim-cat-list {
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    color: #a2a2a2;
    pointer-events: none;
    font-size: 11px;
    margin-top: 6px;
    font-weight: 500
}

.wyp-anim-list-menu li.anim-cat-list:first-child {
    margin-top: 0
}

.wyp-anim-list-menu:not(.wyp-anim-list-top):after,
.wyp-anim-list-menu:not(.wyp-anim-list-top):before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.wyp-anim-list-menu:not(.wyp-anim-list-top):after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #595959;
    border-width: 8px;
    margin-left: -8px
}

.wyp-anim-list-top {
    margin-top: -312px !important
}

.wyp-anim-list-top ul {
    height: auto !important
}

.wyp-anim-list-top:after,
.wyp-anim-list-top:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.wyp-anim-list-top:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #595959;
    border-width: 8px;
    margin-left: -8px
}

.wyp-anim-el-column.anim-active-row>span:not([class]) {
    color: #4ca3ee
}

.wyp-animate-manager>.ui-resizable-handle.active,
.wyp-animate-manager>.ui-resizable-handle:hover {

.wyp-background-filter-section,
.wyp-border-bottom-section,
.wyp-border-left-section,
.wyp-border-right-section,
.wyp-border-top-section,
.wyp-filter-color-adjustment-section,
.wyp-motion-transition-section,
.wyp-spacing-margin-section,
.wyp-transform-extra-section,
.wyp-transform-rotate-section,
.wyp-transform-skew-section {
    display: none
}

.focus-option {
    -webkit-animation-name: focusOption;
    animation-name: focusOption;
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
}

@-webkit-keyframes focusOption {
    0% {
        background-color: #e4e49e
    }

    100% {
        background-color: transparent
    }
}

@keyframes focusOption {
    0% {
        background-color: #e4e49e
    }

    100% {
        background-color: transparent
    }
}

.wyp-animate-test-playing .op-g {
    pointer-events: none !important;
    cursor: default !important;
    opacity: .8 !important
}

.anim-info-rule {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
    color: #e1e1e1
}

.anim-info-value {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.anim-info-border {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .14);
    margin-top: 3px;
    margin-bottom: 3px
}

.anim-bar .popover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .08), -2px 2px 10px 0 #3c3c3c
}

.anim-bar .popover-content .anim-info-border:last-child {
    display: none !important
}

.anim-bar .popover.top>.arrow {
    left: 50%;
    margin-left: -9px;
    border-bottom-width: 0;
    border-top-color: #5b5b5b;
    bottom: -8px
}

.anim-bar .popover.top>.arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -8px;
    border-bottom-width: 0;
    border-top-color: #5b5b5b
}

.anim-bar .popover-title {
    background-color: #474747 !important
}

.anim-bar .popover-content {
    background-color: #5b5b5b !important;
    min-width: 170px !important;
    color: #cacaca
}

.focus-option {
    -webkit-animation-name: focusOption;
    animation-name: focusOption;
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
}

@-webkit-keyframes focusOption {
    0% {
        background-color: #e4e49e
    }

    100% {
        background-color: transparent
    }
}

@keyframes focusOption {
    0% {
        background-color: #e4e49e
    }

    100% {
        background-color: transparent
    }
}

.wyp-animate-test-playing .op-g {
    pointer-events: none !important;
    cursor: default !important;
    opacity: .8 !important
}

.unavailable-animate-bar {
    opacity: .7 !important
}

.wyp-anim-el-column>i {
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-right: 4px;
    position: relative;
    top: 2px;
    cursor: pointer
}

.selector-heading span,
.wyp-anim-el-column>i {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cg%3E%3Cg transform='translate(2 2)' fill='none' stroke='%23909090' stroke-width='2'%3E%3Crect width='9' height='9' stroke='none'/%3E%3Crect x='1' y='1' width='7' height='7' fill='none'/%3E%3C/g%3E%3Cline y2='3' transform='translate(6.5 -0.5)' fill='none' stroke='%23909090' stroke-width='1'/%3E%3Cline x2='3' transform='translate(-0.5 6.5)' fill='none' stroke='%23909090' stroke-width='1'/%3E%3Cline y2='3' transform='translate(6.5 10.5)' fill='none' stroke='%23909090' stroke-width='1'/%3E%3Cline x2='3' transform='translate(10.5 6.5)' fill='none' stroke='%23909090' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E")
}

#ed-elt-tr li.active,
.selector-group.active .selector-heading span,
.wyp-anim-el-column.anim-active-row>i,
.wyp-anim-el-column>i:hover,
body.wyp-con-slcd #wyp-crnt-el {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cg%3E%3Cg transform='translate(2 2)' fill='none' stroke='%234ca3ee' stroke-width='2'%3E%3Crect width='9' height='9' stroke='none'/%3E%3Crect x='1' y='1' width='7' height='7' fill='none'/%3E%3C/g%3E%3Cline y2='3' transform='translate(6.5 -0.5)' fill='none' stroke='%234ca3ee' stroke-width='1'/%3E%3Cline x2='3' transform='translate(-0.5 6.5)' fill='none' stroke='%234ca3ee' stroke-width='1'/%3E%3Cline y2='3' transform='translate(6.5 10.5)' fill='none' stroke='%234ca3ee' stroke-width='1'/%3E%3Cline x2='3' transform='translate(10.5 6.5)' fill='none' stroke='%234ca3ee' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E")
}

.ed-pnl span.anim-player-icon {
    position: absolute;
    margin-left: 2px;
    margin-top: -2px;
    color: #666 !important;
    cursor: pointer !important
}

.ed-pnl span.anim-player-icon:hover {
    color: #0080ff !important
}

.ed-pnl span.anim-player-icon.icon-controls-pause {
    color: #da4747 !important
}

