/* Llimphi Editor - Inspector and Layer Tree */

.fake-layer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-width: 0;
    z-index: 100;
    background: 0 0;
    cursor: default !important
}

.fake-layer-x {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-width: 0;
    z-index: 9999996;
    background: 0 0;
    cursor: default
}

.advanced-info-box {
    position: absolute;
    top: 296px;
    left: 44px;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .08), 2px 2px 10px 0 rgba(0, 0, 0, .23);
    border-radius: 6px;
    font-size: 0;
    display: none
}

.wyp-fix-leftbar #layer-tree,
.wyp-fix-leftbar .advanced-info-box {
    left: 42px
}

.advanced-info-box-inner {
    min-height: 360px;
    max-height: calc(100vh - 400px);
    overflow-y: auto;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}

.advanced-info-box-menu {
    background-color: #e7e7e7;
    overflow: hidden;
    height: 31px;
    border-radius: 6px 6px 0 0
}

.advance-info-btns {
    background-color: transparent;
    color: #474747;
    padding: 9px 16px;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    font-weight: 500
}

.advance-info-btns.active {
    background-color: #f9f9f9
}

.advanced-info-box-content {
    font-size: 12px;
    padding: 0;
    color: #656565;
    padding-bottom: 20px
}

.advanced-info-box-content ul li:last-child {
    border-width: 0
}

.advanced-info-box-content h3,
.advanced-info-box-content ul {
    margin: 0
}

.advanced-info-box-content h3 {
    margin-top: 20px;
    margin-bottom: 8px;
    color: #585858
}

.advanced-info-box-content ul {
    padding-left: 0
}

.advanced-info-box-content h3 {
    margin-left: 20px;
    border-top: 2px solid rgba(0, 0, 0, .1);
    padding-top: 16px;
    margin-top: 4px;
    font-weight: 500
}

.advanced-info-box-content h3.no-top,
.advanced-info-box-content>h3:first-child {
    border-top-width: 0
}

.advanced-info-box-content ul li {
    list-style-type: none;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-left: 20px;
    clear: both;
    text-transform: capitalize
}

.advanced-info-box-content ul li:after,
.advanced-info-box-content ul li:before {
    clear: both;
    content: " ";
    display: block
}

.typo-list-left {
    float: left
}

.typo-list-right {
    float: right;
    margin-right: 20px
}

.typo-list-right span {
    color: #696969;
    text-transform: lowercase;
    display: inline-block;
    text-align: right
}

.info-color-scheme-list {
    font-size: 0;
    margin-left: 20px;
    margin-right: 20px;
    opacity: .9;
    position: relative
}

.info-color-scheme-list div {
    height: 30px;
    display: inline-block;
    position: relative;
    cursor: pointer
}

.info-color-scheme-list div:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: rgba(0, 0, 0, .2)
}

.info-color-scheme-list>div:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1) inset;
    height: 38px;
    position: relative;
    top: 8px;
    margin-top: -8px
}

.info-color-scheme-list>div:hover:after {
    height: 4px
}

.info-element-class-list li {
    color: rgba(25, 96, 73, .8);
    font-weight: 500;
    text-transform: lowercase !important
}

.info-element-class-list li:hover {
    cursor: pointer;
    text-decoration: underline
}

.info-no-element-selected {
    text-align: center;
    width: 70%;
    margin: 34px auto;
    line-height: 23px;
    font-size: 14px
}

.info-image-list {
    margin-left: 20px;
    line-height: 0;
    margin-bottom: 12px
}

.info-image-list img {
    display: inline;
    height: 30px;
    max-width: 60px;
    border: 1px solid #c8c8c8;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 3px
}

.page-assets-h3 {
    margin-top: 16px !important
}

.info-image-list img:last-child {
    margin-left: 0
}

.info-element-dom {
    margin-left: 20px;
    width: calc(100% - 40px);
    background-color: transparent;
    color: inherit;
    border: 2px solid rgba(0, 0, 0, .2);
    resize: vertical;
    height: 92px;
    font-size: 14px;
    border-radius: 6px
}

.ed-pnl-list li.border-radius-option.active>h3 .wyp-arrow-icon,
.ed-pnl-list li.spacing-option.active>h3 .wyp-arrow-icon {
    right: 60px !important
}

body.wyp-mouseleave .metric-left-border,
body.wyp-mouseleave .metric-left-tooltip,
body.wyp-mouseleave .metric-top-border,
body.wyp-mouseleave .metric-top-tooltip {
    display: none !important
}

body.wyp-if-movleav:not(.wyp-res-mod) .metric-left-border,
body.wyp-if-movleav:not(.wyp-res-mod) .metric-left-tooltip,
body.wyp-if-movleav:not(.wyp-res-mod) .metric-top-border,
body.wyp-if-movleav:not(.wyp-res-mod) .metric-top-tooltip {
    display: none !important
}

.info-element-selector-list li {
    text-transform: none !important
}



.ui-resizable-handle {
    z-index: 2147483646 !important;
    position: absolute
}

.wyp-animate-bar .ui-resizable-handle {
    z-index: 2147483640 !important
}

.advanced-info-box .ui-resizable-handle {
    right: -6px;
    top: 0;
    width: 7px;
    height: 100%;
    cursor: e-resize
}

.ed-pnl .ui-resizable-handle.ui-resizable-w {
    left: -1px;
    top: 0;
    width: 6px;
    height: 100%;
    cursor: e-resize
}

#leftAreaEditor .ui-resizable-e {
    right: -5px;
    top: 0;
    width: 6px;
    height: 100%;
    cursor: e-resize
}

#leftAreaEditor .ui-resizable-s {
    bottom: -3px;
    left: 0;
    height: 6px;
    width: 100%;
    cursor: s-resize
}

.wyp-animate-manager>.ui-resizable-handle {
    left: 0;
    top: -6px;
    height: 7px;
    width: 100%;
    cursor: n-resize
}

.wyp-animate-manager>.ui-resizable-handle {
    z-index: 2147483646 !important
}

.fake-layer-x-bg .editor-leftbar {
    z-index: 10000 !important
}

.wyp-gradient-list {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    border-radius: 3px
}

.wyp-gradient-list,
.wyp-unsplash-list {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 0 0 3px 3px;
    height: 241px;
    overflow-y: scroll;
    box-shadow: 0 5px 3px -3px rgba(0, 0, 0, .14);
    position: relative
}

.wyp-unsplash-list {
    height: 289px
}

@media (max-height:864px) {

    .wyp-gradient-list,
    .wyp-unsplash-list {
        height: 181px
    }
}

.wyp-gradient-demo {
    margin: 0;
    height: 30px;
    cursor: pointer;
    width: 100%;
    position: relative;
    font-size: 11px;
    padding-left: 40px;
    line-height: 30px;
    background-color: #fff
}

.wyp-gradient-demo:hover {
    background-color: #ececec
}

.wyp-gradient-demo.active {
    background-color: #d9eefe
}

.wyp-gradient-demo span {
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    top: 0;
    left: 0
}

.wyp-gradient-demo:last-child {
    border-bottom-width: 0
}

.uigradient-api,
.unsplash-api {
    margin-top: 4px;
    font-size: 11px;
    color: #8d8b8b;
    text-align: right
}

.uigradient-api a,
.unsplash-api a {
    color: inherit
}


#ed-elt-tr {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 30px;
    width: auto;
    background: #f0f0f0;
    border-radius: 0 8px 0 0;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .08), 2px -2px 10px 0 rgba(0, 0, 0, .23);
    z-index: 100150;
    font-size: 12px;
    line-height: 30px;
    color: #5d5d5d;
    transition: color .2s, height .2s, line-height .2s;
    max-width: 40% !important
}

#ed-elt-tr.ed-eld-larger {
    min-width: 500px !important
}

.wyp-fix-leftbar #ed-elt-tr {
    margin-left: 44px
}

.wyp-con-slcd #ed-elt-tr {
    display: block
}

#ed-elt-tr:hover {
    color: #454545
}

#ed-elt-tr ul {
    display: flex;
    margin-right: 0 !important
}

#ed-elt-tr li,
#ed-elt-tr ul {
    padding: 0;
    margin: 0;
    list-style: none
}

#ed-elt-tr li {
    display: flex;
    cursor: pointer;
    position: relative;
    min-width: 0;
    background-repeat: no-repeat;
    background-position: 15px 8px;
    padding-left: 18px;
    transition: flex .2s ease .1s, background-position .2s
}

#ed-elt-tr li span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    padding-right: 12px
}

#ed-elt-tr li.active {
    flex: 0 0 auto;
    padding-left: 32px
}

#ed-elt-tr>span {
    padding-left: 16px
}

#ed-elt-tr li:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 6px solid #eee;
    position: absolute;
    top: -1px;
    left: 100%;
    z-index: 2;
    transition: border-width .2s ease
}

#ed-elt-tr li:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 6px solid #a9a9a9;
    position: absolute;
    top: -1px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
    transition: border-width .2s ease
}

#ed-elt-tr li.active,
#ed-elt-tr li.active:hover {
    background-color: #fff
}

#ed-elt-tr li.active:after,
#ed-elt-tr li.active:hover:after {
    border-left-color: #fff
}

#ed-elt-tr li:hover {
    background-color: #d6d6d6;
    flex: 0 0 auto
}

#ed-elt-tr li:hover:after {
    border-left-color: #d6d6d6
}

#ed-elt-tr li:last-child:after,
#ed-elt-tr li:last-child:before {
    display: none !important
}

body.wyp-animate-manager-active #ed-elt-tr {
    display: none !important
}


